.section-slider a {
    margin-top: 30px !important;
}

.section-search{
    height: 220px;
}

.section-search input{
    width: 90% !important;
    padding : 0px 10px  !important;
}

.card-section h4 {
    font-weight: 400;
}

.section-popular img{
    height: 230px;
   
}

.container{
    width: 85%
}

.section-media i{
    margin-left: 10px;
}

.section-contact i{
    padding-top: 20px;
}

#contact-area {
padding: 0px 0px 0px 0px !important;
}